# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/hkih-*
web/app/mu-plugins/*/
!web/app/mu-plugins/*.php
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Drop-ins
/web/app/advanced-cache.php
/web/app/object-cache.php
/web/app/db.php
