# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/hkih-*
web/app/mu-plugins/*/
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
_dev/*

# HKIH Themes
web/app/themes/hkih*
web/app/plugins/hkih-*
web/app/mu-plugins/hkih-*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
wp-content/*

# WP-CLI
wp-cli.local.yml

# Drop-ins
/web/app/advanced-cache.php
/web/app/object-cache.php
/web/app/db.php

# WP-CLI database dumps should not be tracked in git
*.sql
*.sql.gz

# Ignore OSX file system junk
.DS_Store

##
# Don't track languages
##
web/app/languages/*
!web/app/languages/.gitkeep

##
# WP Dropins
# - Use devgeniem/better-wp-db-error for db-error.php page
# - Use devgeniem/better-wp-install-dropin for install.php
# - Use wpackagist-plugin/redis-cache for object-cache.php
##
web/app/db-error.php
web/app/install.php